#kaocha/v1
{:kaocha.watch/ignore ["**.#*" "**#*#"]
 :tests [{:id :unit
          :test-paths ["test/deercreeklabs/"]}
         {:id :unit-node
          :type :kaocha.type/cljs
          :test-paths ["test/deercreeklabs/"]
          :cljs/compiler-options #include "test/test-cljs-opts.edn"}]}
